.panel-footer span {
    margin-left: 10px;
}

.btn {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
}

.loader {
    border: 3px solid #f0f0f0;
    border-top: 3px solid #009688;
    border-bottom: 3px solid #009688;
    border-right: 3px solid #009688;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: preloaderSpin 5s linear infinite;
}

@keyframes preloaderSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}